extends layout

block content
    div(class = `card ${cardClass}`)
        div.card
            h3.title ACME Insurance Co.
            div.info-row.name-row
                p.label Name:
                p #{firstName} #{lastName}
            div.info-container
                div.info-row
                    p.label Insurance Type:
                    p #{type}
                        div.info-row
                        //getMonth()
                        //getDate()
                        //getFullYear()
                        p.label DOB:
                        p #{dateOfBirth.getMonth() + 1}/#{dateOfBirth.getDate()}/#{dateOfBirth.getFullYear()}
            div.info-row
                div
                    p.label Address:

                div.address-text
                    p #{addressLineOne}
                    p #{addressLineTwo}
                    p #{city}, #{state}, #{zip}
            div.info-container
                div.info-row
                    p.label Acct #:
                    p #{accountNumber}
                div.info-row
                    p.label Exp.:
                    p #{currentDate.getMonth() + 1}/#{currentDate.getDate()}/#{currentDate.getFullYear() + 4}

    a(href = '/') Reenter Data
