extends layout

block content
  h1 Create Your Card Here
  form(method = "POST" action = "/card")
    label(for = "firstName") First:
    input(type = "text" name = "firstName" id = "firstName" value = `${firstName}`)

    label(for = "lastName") Last:
    input(type = "text" name = "lastName" id = "lastName" value = `${lastName}`)

    label(for = "type") Type
    select(name = "type" id = "type" value = `${type}`)
      option(value = "Bronze") Bronze
      option(value = "Standard") Standard
      option(value = "Premium") Premium

    label(for = "dateOfBirth") DOB
    input(type = "date" name = "dateOfBirth" id = "dateOfBirth" value = `${dateOfBirth}`)

    label(for = "addressLineOne") Address Line One:
    input(type = "text" name = "addressLineOne" id = "addressLineOne" value = `${addressLineOne}`)

    label(for = "addressLineTwo") Address Line Two:
    input(type = "text" name = "addressLineTwo" id = "addressLineTwo" value = `${addressLineTwo}`)

    label(for = "city") City:
    input(type = "text" name = "city" id = "city" value = `${city}`)

    label(for = "state") State:
    select(name = "state" id = "state" value = `${state}`)
      option(value = "CA") CA
      option(value = "NV") NV
      option(value = "WA") WA

    label(for = "zip") Zip Code:
    input(type = "text" name = "zip" id = "zip" value = `${zip}`)

    button(type = "submit" action = "post") Create My Card

